---
import { getCollection } from "astro:content";
import { formatDate } from "$/lib/date";
import type { CollectionEntry } from "astro:content";

import Layout from "$/components/Layout.astro";
import Header from "$/components/Header.astro";
import Link from "$/components/Link.astro";

export async function getStaticPaths() {
  const posts = await getCollection("blog");

  return posts.map((post) => ({
    params: { slug: post.slug },
    props: { post },
  }));
}

type Props = {
  post: CollectionEntry<"blog">;
};

const {
  post,
  post: {
    data: { title, description, date },
  },
} = Astro.props;
const { Content } = await post.render();
---

<Layout
  seo={{
    title,
    description,
    image: {
      src: `/og-image/${post.slug}.png`,
      isLargeImage: true,
    },
  }}
>
  <Header title={title} />

  <p class="-mt-2 mb-6 text-gray-500">{formatDate(date)}</p>

  <div
    class:list={[
      "prose mb-8 text-gray-700",
      "prose-headings:font-semibold prose-strong:font-semibold",
      // These are the same styles that are applied when `prose-lg` is used
      "prose-p:text-lg prose-p:leading-[calc(32/18)]",
    ]}
  >
    <Content components={{ a: Link }} />
  </div>

  <Link href="/blog">{`<- Blog`}</Link>

  <style>
    .prose :global(.expressive-code) {
      margin-top: 24px;
      margin-bottom: 24px;
    }

    .prose :global(aside) {
      margin-top: 24px;
      margin-bottom: 24px;
    }
  </style>
</Layout>
