---
import { getCollection, render } from "astro:content";
import type { CollectionEntry } from "astro:content";

import Layout from "$/components/Layout.astro";
import Link from "$/components/Link.astro";
import PageTitle from "$/components/PageTitle.astro";

import { formatDate } from "$/lib/date";

export async function getStaticPaths() {
  const posts = await getCollection("blog");

  return posts.map((post) => ({
    params: { slug: post.id },
    props: { post },
  }));
}

type Props = {
  post: CollectionEntry<"blog">;
};

const {
  post,
  post: {
    data: { title, description, date },
  },
} = Astro.props;

const { Content } = await render(post);
---

<Layout
  seo={{
    title,
    description,
  }}
>
  <PageTitle title={title} class="mb-2" />

  <p class="mb-6 text-base text-subtitle">{formatDate(date)}</p>

  <div
    class:list={[
      "prose mb-8 max-w-none text-subtitle",
      "prose-headings:font-semibold prose-strong:font-semibold prose-code:break-all",
      // These are the same styles that are applied when `prose-lg` is used
      "leading-8 sm:prose-li:text-base",
    ]}
  >
    <Content components={{ a: Link }} />
  </div>

  <Link href="/blog">{`← Blog`}</Link>

  <style>
    .prose :global(.expressive-code) {
      margin-top: 24px;
      margin-bottom: 24px;
    }

    .prose :global(aside) {
      margin-top: 24px;
      margin-bottom: 24px;
    }
  </style>
</Layout>
