---
import { getCollection } from "astro:content";

import Layout from "$/components/Layout.astro";
import PageTitle from "$/components/PageTitle.astro";

import { formatDate, sortPostsByDate } from "$/lib/date";

const posts = sortPostsByDate(await getCollection("blog"));
---

<Layout
  seo={{
    title: "Blog",
  }}
>
  <PageTitle title="Blog" class="mb-4" />

  <ul class="ml-4 list-outside list-disc space-y-6">
    {
      posts.map(({ data: { title, date }, id }) => (
        <li class="space-y-1 marker:text-subtitle-light">
          <div>
            <a
              class="font-medium text-subtitle underline-offset-4 hover:underline focus:underline active:underline"
              href={`/blog/${id}`}
            >
              {title}
              <span class="select-none" aria-hidden="true">
                →
              </span>
            </a>

            <p class="text-subtitle">{formatDate(date)}</p>
          </div>
        </li>
      ))
    }
  </ul>
</Layout>
