---
import { getCollection } from "astro:content";
import { formatDate, sortPostsByDate } from "$/lib/date";

import Layout from "$/components/Layout.astro";
import PageTitle from "$/components/PageTitle.astro";

const posts = sortPostsByDate(await getCollection("blog"));
---

<Layout
  seo={{
    title: "Blog",
    description: "armaan's Blog on the internet",
  }}
>
  <PageTitle title="Blog" />

  <ul class="ml-4 list-outside list-disc space-y-6">
    {
      posts.map(({ data: { title, date }, slug }) => (
        <li class="space-y-1 marker:text-subtitle-light">
          <div>
            <a
              class="font-medium text-subtitle underline-offset-4 hover:underline focus:underline active:underline"
              href={`/blog/${slug}`}
            >
              {title}
              <span aria-hidden>-></span>
            </a>

            <p class="text-subtitle">{formatDate(date)}</p>
          </div>
        </li>
      ))
    }
  </ul>
</Layout>
