---
import Layout from "$/components/Layout.astro";
import Header from "$/components/Header.astro";
---

<Layout
  seo={{
    title: "About Me",
    description: "All about armaan",
  }}
>
  <Header title="About Me" />

  <div class="space-y-5 text-lg lowercase text-gray-700">
    <p>I like to build stuff with code, especially with Python and TypeScript.</p>
    <p>I'm a public speaker.</p>
    <p>I love listening to music.</p>
    <p>
      I'm not very good with describing myself. I'll try adding more here later but in essence this
      is who I am.
    </p>
  </div>
</Layout>
