---
import Layout from "$/components/Layout.astro";
import Header from "$/components/Header.astro";
---

<Layout
  seo={{
    title: "About Me",
    description: "All about armaan",
  }}
>
  <Header title="About Me" />

  <div class="space-y-5 text-pretty text-lg lowercase text-gray-700">
    <p>Hey there, I'm armaan!</p>
    <p>I like to build stuff with code, especially with Python and TypeScript.</p>
    <p>I'm also a confident public speaker.</p>
    <p>You can probably find me listening to music or trying to build something with a computer.</p>
  </div>
</Layout>
