---
import Layout from "$/components/Layout.astro";
import Header from "$/components/Header.astro";
---

<Layout title="About Me">
  <Header title="About Me" />

  <div class="space-y-5 text-lg text-gray-700">
    <p>I like to build, primarily with Python and TypeScript.</p>
    <p>These days I do a lot of React + React Native but I'm not limited to just that.</p>
  </div>
</Layout>
