---
import Layout from "$/components/Layout.astro";
---

<Layout title="armaan" class="sm:pt-14">
  <img
    src="/icon.svg"
    alt="A profile picture that I use for all of my socials"
    width="108"
    class="rounded-full"
  />
  <h1 class="my-5 text-3xl font-bold">armaan</h1>

  <div class="space-y-5 text-lg lowercase text-gray-700">
    <p>I'm a student who likes to build stuff.</p>
    <p>I like to build stuff that address real problems that affect real people.</p>
    <p>
      My primary mechanism of building is through code. That however, doesn't mean I limit myself to
      just code.
    </p>
  </div>

  <div class="mt-8 flex gap-5 text-lg lowercase sm:mt-5">
    <a href="/blog" class="text-gray-500 underline hover:text-blue-600">Blog</a>
    <a href="/projects" class="text-gray-500 underline hover:text-green-700">Projects</a>
    <a href="/about" class="text-gray-500 underline hover:text-purple-600">More About Me</a>
  </div>
</Layout>
