---
import Layout from "$/components/Layout.astro";
import Project from "$/components/Project.astro";
import Link from "$/components/Link.astro";
import { Icon } from "astro-icon";

import bessyImg from "$/images/work/bessy.png";
import coconoteImg from "$/images/work/coconote.webp";
---

<Layout
  seo={{
    title: "Armaan Aggarwal",
    description: "18 y/o developer building consumer-facing products",
    image: {
      src: "/og-image/home.png",
      isLargeImage: true,
    },
  }}
>
  <h1 class="sr-only">Home</h1>

  <div class="space-y-12">
    <div class="space-y-4 text-pretty leading-7 sm:leading-8">
      <p id="bessy-notice" class="text-sm sm:text-base" hidden="">
        ‼️ Please do not contact me about Bessy; I sold it and am no longer involved with it :)
      </p>

      <p>
        I'm an <span class="hidden sm:inline">18 y/o</span>
        <span class="sm:hidden">18-year-old</span> software engineer in San Francisco, building the
        future of vibe-coding full-time at{" "}
        <Link class="whitespace-nowrap" href="https://replit.com" target="_blank">
          <Icon
            name="replit"
            aria-hidden
            class="ml-[2px] mr-[4px] inline-block h-[1em] w-[1em] -translate-y-px rounded bg-[#F26207]"
          />{"Replit"}
        </Link>.
      </p>

      <p>
        My work is used by millions in production every day, has been featured in TechCrunch and
        Fast Company, and includes one successful exit.
      </p>

      <p>
        I'm also regularly involved with open source, particularly within the React Native
        ecosystem. I've contributed code to <Link href="https://github.com/expo/expo/pull/32567">
          {"Expo"}
        </Link>{","} the <Link href="https://github.com/bluesky-social/social-app/pull/7523">
          {"Bluesky "}
          <span class="hidden sm:inline">mobile</span>
          {"app"}
        </Link>, and <Link href="https://github.com/Armster15/expo-xml-font">a</Link>
        <Link
          href="https://github.com/search?q=is%3Apr+author%3AArmster15+react+native&type=pullrequests"
        >
          {"bunch"}
        </Link>
        {" "}
        <Link href="https://github.com/Armster15?tab=repositories&q=expo&sort=stargazers">
          {"more"}
        </Link>.
      </p>
    </div>

    <div class="space-y-2">
      <h2 class="text-xl font-semibold">Some of My Other Notable Work</h2>

      <Project
        title="Coconote"
        description="The AI note-taker for students and professionals. $300K+ MRR. 1M+ users worldwide."
        imgSrc={coconoteImg}
        imgBgClass="bg-[#f4ede4]"
        href="https://coconote.app"
        tags={["React", "React Router 7", "Swift"]}
        headingType="h3"
      />

      <Project
        title="Bessy"
        description="A better way to use Schoology and Infinite Campus. Exited at 18. 100K+ students via purely organic ASO."
        imgSrc={bessyImg}
        imgBgClass="bg-[#f4ede4]"
        href="https://www.bessy.io"
        tags={["React", "Next.js", "React Native/Expo", "Swift"]}
        headingType="h3"
      />

      <Link href="/work" class="!mt-4 block text-right text-base">View more →</Link>
    </div>
  </div>
</Layout>

<script>
  const bessyNotice = document.getElementById("bessy-notice");
  if (bessyNotice && document.referrer.includes("bessy.io")) {
    bessyNotice.removeAttribute("hidden");
  }
</script>
