---
import { Icon } from "astro-icon";
import Layout from "$/components/Layout.astro";
import Link from "$/components/Link.astro";
---

<Layout
  seo={{
    title: "armaan",
    description: "armaan's home page on the internet",
  }}
  class="pt-2 sm:pt-8"
>
  <Icon name="icon" width="108" class="rounded-full" aria-hidden />
  <h1 class="my-5 text-3xl font-bold">armaan</h1>

  <div class="space-y-5 text-lg lowercase text-gray-700">
    <p>I'm a student who likes to build stuff.</p>
    <p>I want to build stuff that address real problems that affect real people.</p>
    <p>
      My primary mechanism of building is through code. That however, doesn't mean I limit myself to
      just code.
    </p>
  </div>

  <div class="mt-8 flex gap-5 lowercase sm:mt-5">
    <Link href="/blog" class="hover:text-blue-600">Blog</Link>
    <Link href="/projects" class="hover:text-green-700">Projects</Link>
    <Link href="/about" class="hover:text-purple-600">More About Me</Link>
  </div>

  <div class="mt-8 flex gap-5">
    <a href="https://github.com/Armster15" target="_blank" aria-label="GitHub" title="GitHub">
      <Icon
        class="h-6 w-6 text-gray-400 duration-100 hover:text-gray-500 focus:text-gray-500"
        name="simple-icons:github"
      />
    </a>

    <a
      href="https://twitter.com/ArmsterDev"
      target="_blank"
      aria-label="X (formerly known as Twitter)"
      title="X (formerly known as Twitter)"
    >
      <Icon
        class="h-6 w-6 text-gray-400 duration-100 hover:text-gray-500 focus:text-gray-500"
        name="twitter-as-x"
      />
    </a>
  </div>
</Layout>
