---
import Layout from "$/components/Layout.astro";
import Project from "$/components/Project.astro";
import Link from "$/components/Link.astro";

import bessyImg from "$/images/work/bessy.png";
---

<Layout
  seo={{
    title: "armaan",
    description: "armaan's home page on the internet",
    image: {
      src: "/og-image/home.png",
      isLargeImage: true,
    },
  }}
>
  <h1 class="sr-only">Home</h1>

  <div class="mt-6 space-y-12 sm:mt-8">
    <div class="space-y-2">
      <h2 class="text-xl font-semibold">Hey, I'm armaan! I...</h2>

      <ul
        class="ml-4 list-outside list-disc space-y-2 marker:text-subtitle-light [&_*>b]:font-medium"
      >
        <li>build <b>real products</b> that <b>real people</b> love</li>

        <!-- prettier-ignore -->
        <li>
          contribute to <b>open-source</b>; my code has been merged into <Link
            href="https://github.com/expo/expo/pull/32567"
          >
            Expo</Link>, the <Link href="https://github.com/bluesky-social/social-app/pull/7523">
            Bluesky <span class="hidden sm:inline">mobile</span> app</Link>, and more
        </li>

        <li>have had my work covered by publications like techcrunch and fast company</li>
      </ul>
    </div>

    <div class="space-y-2">
      <h2 class="text-xl font-semibold">Some of My Notable Work</h2>

      <Project
        title="Bessy"
        role="Creator & Developer"
        description="A better way to use Schoology and Infinite Campus; 90K+ students from all 50 states"
        imgSrc={bessyImg}
        imgBgClass="bg-[#f4ede4]"
        href="https://www.bessy.io"
        tags={["React", "Next.js", "React Native/Expo", "Swift"]}
        headingType="h3"
      />

      <Link href="/work" class="!mt-4 block text-right text-base">View more -></Link>
    </div>
  </div>
</Layout>
