---
import { Image } from "astro:assets";
import Socials from "./Socials.astro";
import Links from "./Links.astro";

import ProfilePicture from "$/../public/headshot.jpg";
---

<nav
  class:list={[
    "mt-4 hidden border-[0.5px] border-[#f0ede6] shadow-xs sm:flex lg:mt-8",
    "w-full max-w-4xl rounded-full py-4 pr-6 pl-4 backdrop-blur-md duration-100 *:flex-1",
  ]}
>
  {/* Icon + "armaan" */}
  <a href="/" class="flex items-center gap-2">
    <Image
      src={ProfilePicture}
      alt={""}
      class="w-[38px] shrink-0 rounded-full"
      aria-hidden="true"
      width={300}
      loading="eager"
    />

    <header class="text-xl leading-[30px] font-semibold lowercase">
      <span>Armaan</span>
      <span class="sr-only lg:not-sr-only">Aggarwal</span>
    </header>
  </a>

  <Links />

  <Socials />
</nav>
