---
const pathname = Astro.url.pathname;
---

<div
  class:list={[
    "flex items-center justify-start *:pr-3 max-sm:text-sm sm:justify-center sm:*:px-3",
    "*:text-subtitle-light *:duration-200 hover:*:text-subtitle focus:*:text-subtitle active:*:text-subtitle data-[is-current-page]:*:text-subtitle",
  ]}
>
  <a class="max-xs:hidden" data-is-current-page={pathname === "/"} href="/">home</a>
  <a data-is-current-page={pathname.startsWith("/blog")} href="/blog">blog</a>
  <a data-is-current-page={pathname.startsWith("/work")} href="/work">work</a>
</div>
