---
import { Icon } from "astro-icon";
import Socials from "./Socials.astro";
import Links from "./Links.astro";
---

<nav class="px-4 pb-0 pt-6 xs:px-6 sm:hidden">
  <div class="flex w-full items-center">
    <div class="flex flex-1 items-center justify-start gap-3">
      <a href="/"><Icon name="icon" class="w-[4ch] rounded-full" aria-hidden /></a>

      <div class="text-left">
        <a href="/">
          <header class="text-xl font-semibold">
            <span>armaan</span>
            <span class="sr-only xs:not-sr-only">aggarwal</span>
          </header>
        </a>

        <Links />
      </div>
    </div>

    <Socials />
  </div>
</nav>
