---
import GithubIcon from "$/icons/vendored/simple-icons:github.svg";
import LinkedInIcon from "$/icons/vendored/simple-icons:linkedin.svg";
import XIcon from "$/icons/vendored/simple-icons:x.svg";
---

<div
  class="flex items-center gap-4 *:text-subtitle-light *:duration-100 *:hover:text-subtitle *:focus:text-subtitle *:active:text-subtitle sm:justify-end"
>
  <a href="https://github.com/Armster15" target="_blank" aria-label="GitHub" title="GitHub">
    <GithubIcon class="h-6 w-6" />
  </a>

  <a
    href="https://twitter.com/armaanagwl"
    target="_blank"
    aria-label="X (formerly known as Twitter)"
    title="X (formerly known as Twitter)"
  >
    <XIcon class="h-6 w-6" />
  </a>

  <a
    href="https://www.linkedin.com/in/armaanagwl/"
    target="_blank"
    aria-label="LinkedIn"
    title="LinkedIn"
  >
    <LinkedInIcon class="h-6 w-6" />
  </a>
</div>
