---
export interface Props {
  icon?: {
    text: string;
    "aria-label"?: string;
  };
}

const { icon } = Astro.props;
---

<aside class="not-prose flex gap-2 rounded-lg bg-gray-100 p-4">
  {
    icon && (
      <span class="text-xl" aria-label={icon["aria-label"]} aria-hidden={!icon["aria-label"]}>
        {icon.text}
      </span>
    )
  }

  <div class="mb-2 mt-0 min-w-0 gap-1">
    <section>
      <slot />
    </section>
  </div>
</aside>
