---
export interface Props {
  icon?: {
    text: string;
    "aria-label"?: string;
  };
}

const { icon } = Astro.props;
---

<aside class="not-prose flex gap-2 rounded-lg border-2 border-gray-200 bg-white/70 p-4">
  {
    icon && (
      <span class="text-xl" aria-label={icon["aria-label"]} aria-hidden={!icon["aria-label"]}>
        {icon.text}
      </span>
    )
  }

  <section class="min-w-0 [&_strong]:font-semibold">
    <slot />
  </section>
</aside>
