---
import { ViewTransitions } from "astro:transitions";
import { SEO, type Props as SEOProps } from "astro-seo";
import faviconImg from "$/icons/icon.svg";
import type { SetRequired } from "type-fest";

interface Props {
  seo: SetRequired<SEOProps, "title" | "description">;
  class?: string;
}

const { class: className, seo } = Astro.props;
---

<html lang="en" transition:animate="none">
  <head>
    <ViewTransitions />

    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href={faviconImg.src} />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <SEO {...seo} />

    <!-- Inter -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap"
      rel="stylesheet"
    />

    <!-- Prevents code blocks from overflowing -->
    <style is:global>
      .expressive-code {
        max-width: 85vw;
      }
    </style>
  </head>

  <body class="flex min-h-screen justify-center bg-white p-8 max-sm:pt-6">
    <div
      class:list={[
        // basically max-w-2xl except no `max-`
        "w-[42rem] pb-14",
        className,
      ]}
    >
      <slot />
    </div>
  </body>
</html>
