---
import Layout from "$/components/Layout.astro";
import Link from "$/components/Link.astro";
import PageTitle from "$/components/PageTitle.astro";
---

<Layout
  seo={{
    title: "VoiceMask",
    description: "VoiceMask was a Discord bot I made in August 2020 that became quite popular",
  }}
>
  <PageTitle title="VoiceMask" class="mb-6" />

  <div class="prose prose-lg mb-8 text-subtitle">
    <p>
      VoiceMask was a Discord bot I made back in August 2020. Discord has a feature called voice
      channels, which are mini spaces for voice chat. Although they are quite useful, for those that
      do not have a mic or feel uncomfortable talking in a voice channel, voice channels quickly
      become limitations.
    </p>

    <p>
      In short, VoiceMask was a text-to-speech bot: users typed what they wanted to say and then the
      bot would say it out loud in the voice channel.
    </p>

    <p>
      At its peak, VoiceMask reached 1,500 Discord servers and served tens of thousands of users.
    </p>

    <p>Unfortunately I had to take it down as the costs to host it became too high.</p>

    <p>
      However, despite the fact that I had to take it down, I learned a lot from building it and
      watching it grow.
    </p>

    <p>
      What amazes me to this day are the ways VoiceMask was used. For example, one community used
      the bot to hold a local dating session. Participants learned about each other by talking
      through the bot, with the goal being that the participants would put in the effort to learn
      about each other's personalities and base their decisions on those interactions, rather than
      on physical traits which may warrant implicit bias. I never would have thought that people
      could use my simple Discord bot to find love.
    </p>
  </div>

  <Link href="/work">{`← Work`}</Link>
</Layout>
